<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijianzhu.heqing.mapper.HqUserMapper">
  <resultMap id="BaseResultMap" type="com.huijianzhu.heqing.entity.HqUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="permissions_id" jdbcType="VARCHAR" property="permissionsId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="e1" jdbcType="VARCHAR" property="e1" />
    <result column="e2" jdbcType="VARCHAR" property="e2" />
    <result column="e3" jdbcType="VARCHAR" property="e3" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_account, pass_word, phone_number, email, user_type, permissions_id, 
    update_time, update_user_name, create_time, del_flag, e1, e2, e3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hq_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huijianzhu.heqing.entity.HqUser">
    insert into hq_user (user_id, user_name, user_account, 
      pass_word, phone_number, email, 
      user_type, permissions_id, update_time, 
      update_user_name, create_time, del_flag, 
      e1, e2, e3)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{permissionsId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}, 
      #{e1,jdbcType=VARCHAR}, #{e2,jdbcType=VARCHAR}, #{e3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huijianzhu.heqing.entity.HqUser">
    insert into hq_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="permissionsId != null">
        permissions_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="e1 != null">
        e1,
      </if>
      <if test="e2 != null">
        e2,
      </if>
      <if test="e3 != null">
        e3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        #{permissionsId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="e1 != null">
        #{e1,jdbcType=VARCHAR},
      </if>
      <if test="e2 != null">
        #{e2,jdbcType=VARCHAR},
      </if>
      <if test="e3 != null">
        #{e3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huijianzhu.heqing.entity.HqUser">
    update hq_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="permissionsId != null">
        permissions_id = #{permissionsId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="e1 != null">
        e1 = #{e1,jdbcType=VARCHAR},
      </if>
      <if test="e2 != null">
        e2 = #{e2,jdbcType=VARCHAR},
      </if>
      <if test="e3 != null">
        e3 = #{e3,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huijianzhu.heqing.entity.HqUser">
    update hq_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      permissions_id = #{permissionsId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      e1 = #{e1,jdbcType=VARCHAR},
      e2 = #{e2,jdbcType=VARCHAR},
      e3 = #{e3,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>